@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--Light-gray);
}
.card {
    max-width: 85%;
    background-color: white;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 5%;
    padding: 20px 10px 35px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}
.card img {
    border-radius: 10px;
    width: 95%;
}
h3 {
    padding: 5% 0;
    color: var(--Dark-blue);
}
p {
    font-size: 15px;
    color: var(--Grayish-blue);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } 

@media screen and (min-width: 728px) {
    .card {
        margin-top: 5%;
        margin-bottom: 1%;
        max-width: 25%;

    }
    .card img {
        width: 90%;
    }
    h3 {
        padding: 5% 15%;
    }
    p {
        padding: 0 10%;
    }
}

